@font-face {
    font-family: "inter-bold";
    src: url(../fonts/Inter-ExtraBold.ttf);
}
@font-face {
    font-family: "merri";
    src: url(../fonts/Merriweather-Light.ttf);
}

$font1: inter-bold, sans-serif;
$font2: merri, serif;
$black1: rgb(17,17,17);
$white1: rgb(243,243,243);
$grey1: rgb(209,209,209);
$grey2: rgb(233,233,233);
$grey3: rgb(105,105,105);

@mixin title {
    font-family: $font1;
    letter-spacing: 2px;
    text-transform: uppercase;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    /* permet de defiler sur le lien suivant en douceur */
}
li {
    list-style: none;
    /*permet de retiré les point dans les listes */
}
a, a:visited {
    color: $white1;
    /* permet de retiré les couleurs quand ton décide de cliquer dessus ou non */
}
body {
    background: url(../img/bg.jpg) center/cover fixed;
    /* toujour mettre cela pour le background la pluspart du temp cela permettra aucun souci */
    text-align: center;
    /* centré les texte du site */
    font-family: $font2;
    max-width: 1300px;
    /* max-width: donne la taille maximal de notre contenue, --> penser a mettre le margin en 0 auto */
    margin: 0 auto;
/*  ------> pour créer l'annimation de l'écran noir a l'arriver du site, créer un before au body */

        &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100% ;
            top: 0;
            left: 0;
            background: $black1;
            animation: animBefore 1.5s ease forwards;
            animation-delay: 0.15s;

        /*-------> nous allons lui créer une animation donc une @keyframes <-----
        --------> pour cet exemple ont la nome animeBefore
        --------> et ont va lui dire d'aller jusqu'a,  dont "to" 
        --------> ensuite nous alons le mettre dans notre before ----> animation: animBefore 1.5s ease;
        ---> mettre forwards pour lui dire de rester dans l'état qu'il est a la fin de l'animation.
        */


        @keyframes animBefore {
            to {
                opacity: 0;
            }

        }
        }
}
.btn {
    background: none;
    border: solid 2px $black1;
    height: 45px;
    width: 170px;
    font-size: 0.75rem;
    cursor: pointer;
    @include title;
    transition: 0.2s;

    &:hover {
        transform: scale(1.05);
        /* agrandit legerement le boutton quand ont passe le pointeur dessus ---> penser a mettre la transition */>
    }
}

